<p>
  login works!
</p>

<form [formGroup]="form">
  username: <input id="username" type="text" value="admin" formControlName="name" />
  <br>
  password: <input id="password" type="password" value="admin" formControlName="pass" />

<button id="login" [disabled]="!form.valid" (click)="login()">Login</button>
</form>
  
<div *ngIf="form.get('name').dirty && !form.get('name').valid">

  <p *ngIf="form.get('name').hasError('minlength')">
    El nombre debe tener al menos 4 caracteres
  </p>

  <p *ngIf="form.get('name').hasError('startWithNumber')">
    El nombre no puede empezar con numero
  </p>

  <p *ngIf="form.get('name').hasError('userTaken')">
    El nombre ya existe
  </p>

</div>

<p>
  El Token es: {{token}}
</p>

<p>
  El Rol es: {{rol}}
</p>


